/* Variables */
:root {
  --dark-color: #000000;
  --second-color: #d5b04f;
  --red-color: #ff3150;
  --default-transition: 0.5s;
  --section-color: #e6e6cf;
}
/* ----------------------------- */
/* Component */
.main-btn {
  background-color: var(--second-color);
  color: var(--dark-color);
  border-color: white;
  padding: 0.5rem 1rem;
  transition: var(--default-transition);
}
.main-btn:hover {
  background-color: #604a1f;
  color: white;
}
.main-btn:focus {
  box-shadow: rgb(253 245 13 / 11%) 0px 0px 0px 0.25rem;
}
.main-title::after {
  content: "";
  position: absolute;
  width: 120px;
  height: 2px;
  bottom: -20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--second-color);
}
/* ******************** */
body {
  font-family: "Roboto", sans-serif;
}
/* Start Header */
.navbar {
  background-color: #000000db;
}
.logo {
  max-width: 70px;
}
.navbar .navbar-nav .nav-link {
  color: white;
}
.navbar .navbar-nav .nav-link.active,
.navbar .navbar-nav .nav-link:focus {
  color: var(--second-color);
}
.navbar .navbar-nav .nav-link:hover {
  color: var(--second-color);
  padding-right: 3rem;
}
.navbar .search {
  border-left: 1px solid var(--second-color);
}
.navbar .search svg {
  color: var(--second-color);
}
.navbar .navbar-toggler svg {
  color: var(--second-color);
  font-size: 25px;
  border-color: var(--second-color);
}
/* End Header */
/* Start Landing */
.landing {
  background-image: url(../images/landing.jpg);
  background-size: cover;
  background-position-x: center;
  min-height: calc(100vh + 85px);
  position: relative;
  top: -85px;
}
.landing::before {
  content: "";
  position: absolute;
  background-color: #000000cf;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.landing .content {
  z-index: 1;
}
.landing h1 {
  color: var(--second-color);
}
/* End Landing */
/* Start Features */
.features .icon-holder {
  height: 200px;
}
.features .icon-holder svg {
  left: 50%;
  transform: translateX(-50%);
}
.features .icon-holder .number {
  font-size: 12rem;
  color: var(--section-color);
  opacity: 0.5;
}
.features .icon-holder .icon {
  color: var(--second-color);
}
/* Start Features */
/* Our-work */
@media (min-width: 767) {
  .shuffle {
    width: fit-content;
    margin: auto;
  }
}
@media (min-width: 0) {
  .shuffle {
    flex-direction: column;
  }
}
.our-work {
  background-color: var(--section-color);
}
.our-work ul .active {
  background-color: var(--second-color);
  color: var(--dark-color);
}
.our-work ul li {
  padding: 0.5rem 1rem;
  cursor: pointer;
}
.our-work ul li:not(.active):hover {
  color: var(--second-color);
}
.our-work .box {
  padding: 5px;
  overflow: hidden;
  position: relative;
}
.our-work .box::before {
  content: attr(data-work);
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: calc(100% - 10px);
  height: calc(100% - 10px);
  background-color: #d5af4fdb;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 24px;
  transition: var(--default-transition);
}
.our-work .box:hover::before {
  height: 0;
  opacity: 0;
}
/* Our-work */
/* Start Team */
.our-team .description {
  max-width: 500px;
}
.our-team img {
  width: 460px;
  transition: var(--default-transition);
}
.our-team img:hover {
  transform: scale(1.1);
}
/* End Team */
/* Start Gallery */
.gallery {
  background-color: var(--section-color);
}
.gallery .box {
  overflow: hidden;
  transition: var(--default-transition);
}
.gallery .box img {
  opacity: 0.5;
  transition: var(--default-transition);
}
.gallery .box:hover img {
  opacity: 1;
}
.gallery .box:hover {
  transform: scale(0.9);
}
/* End Gallery */
/* Start Partener */
.partenrs img {
  width: 150px;
  transition: 0.3s;
}
.partenrs img:hover {
  transform: rotate(360deg) scale(1.1);
  cursor: pointer;
}
/* End Partener */
/* Start Booking */
.booking {
  background-image: url(../images/booking.jpg);
  background-size: cover;
  position: relative;
}
.booking::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #000000c4;
}
.booking .text {
  position: relative;
}
.booking .text h1 {
  color: var(--second-color);
}
/* End Booking */
/* Start Package */
.package .shadow {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.package .heading-color {
  color: var(--second-color);
  font-weight: bold;
}
.package .container .card-body > a {
  border-color: #000000;
}
.package .container .scale {
  transition: var(--default-transition);
}
.package .container .scale:hover {
  transform: translateY(-5%);
}
/* End Package */
/* Start Subscribe */
.subscribe {
  background-color: var(--second-color);
}
.subscribe input[type="text"] {
  border: none;
  border-bottom: 1px solid white;
}
.subscribe input[type="text"]:focus {
  outline: none;
}
.subscribe ::placeholder {
  color: white;
}
.subscribe input[type="submit"] {
  background-color: #000000c7;
  color: var(--second-color);
}
.subscribe input[type="submit"]:hover {
  background-color: var(--dark-color);
}
/* End Subscribe */
/* Start Footer */
.footer {
  background-color: var(--dark-color);
}
.footer .info img {
  width: 100px;
}
.footer .copyright span {
  color: var(--second-color);
}
.footer .contact ul svg {
  width: 20px;
  height: 20px;
  transition: var(--default-transition);
}
@media (min-width: 0) {
  .footer .contact ul {
    justify-content: center;
  }
  .footer .info {
    margin-bottom: 4rem;
  }
}
.footer .contact ul svg:hover {
  transform: scale(1.2);
}
.footer .contact .facebook {
  background-color: #1877f2;
}
.footer .contact .twitter {
  background-color: #1da1f2;
}
.footer .contact .instagram {
  background-color: #e1306c;
}
.footer .contact .tiktok {
  background-color: #8a7967;
}
/* End Footer */
